{% macro display(categories) %}
    {% import _self as checklist %}
    {% for category in categories %}
        <li class="list-group-item">
            <strong>{{ category.name }}</strong>{{ checklist.addCategoryButton(category) }} {{ note.addNoteButton(category) }}<a href="#" class="btn btn-default">Lisää aika/paikka</a> {{ checklist.editCategoryButton(category) }} {{ checklist.deleteCategoryButton(category) }}
            {% if not category.subcategories is empty or not category.notes is empty or category.times_and_places is empty %}
                <ul class="list-group">
                    {% for note in category.notes %}
                        <li class="list-group-item">
                            <p>{{ note.note }}</p>
                        </li>
                    {% endfor %}
                    {{ checklist.display(category.subcategories) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro rootAddButton(root_category) %}
    {%import _self as checklist %}
    {{ checklist.addCategoryButton(root_category) }}
{% endmacro %}

{% macro addCategoryButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Lisää kategoria
        </button>
        <div class="dropdown-menu">
            <form method="post" action="categories">
                <div class="form-group">
                  <label>Nimi</label>
                  <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Lisää</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro editCategoryButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Muokkaa
        </button>
        <div class="dropdown-menu">
            <form method="post" action="categories/update">
                <div class="form-group">
                  <label>Nimi</label>
                  <input type="text" name="name" value="{{ category.name }}" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="id" value="{{ category.id }}" class="form-control">
                </div>
                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.supercategory }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Muokkaa</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro deleteCategoryButton(category) %}
    <div class="btn-group">
        <form method="post" action="categories/delete" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kategorian?" style="display: inline-block">
            <input type="hidden" name="id" value="{{ category.id }}" class="form-control">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
  </div>
{% endmacro %}

{% macro addNoteButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Lisää merkintä
        </button>
        <div class="dropdown-menu">
            <form method="post" action="notes">
                <div class="form-group">
                  <label>Merkintä</label>
                  <input type="text" name="note" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Lisää</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}