{% macro display(categories) %}
    {% import _self as checklist %}
    {% for category in categories %}
        <li class="list-group-item">
            <strong>{{ category.name }}</strong>{{ checklist.addCategoryButton(category) }} {{ checklist.addNoteButton(category) }} {{ checklist.addTime_And_PlaceButton(category) }} {{ checklist.editCategoryButton(category) }} {{ checklist.deleteCategoryButton(category) }}
            {% if not category.subcategories is empty or not category.notes is empty or not category.times_and_places is empty %}
                <ul class="list-group">
                    {% for tp in category.times_and_places %}
                        {% if tp.end_time is defined and tp.end_time is not empty %}
                        <li class="list-group-item">
                            {{ tp.dow }} {{ tp.tp_date }} {{ tp.start_time }} - {{ tp.end_time }} {{ tp.location }} {{ checklist.editTime_And_PlaceButton(tp) }} {{ checklist.deleteTime_And_PlaceButton(tp) }}
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            {{ tp.dow }} {{ tp.tp_date }} {{ tp.start_time }} {{ tp.location }} {{ checklist.editTime_And_PlaceButton(tp) }} {{ checklist.deleteTime_And_PlaceButton(tp) }}
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% for note in category.notes %}
                        <li class="list-group-item">
                            {{ note.note }}{{checklist.editNoteButton(note) }} {{ checklist.deleteNoteButton(note) }}
                        </li>
                    {% endfor %}
                    {{ checklist.display(category.subcategories) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro rootAddButton(root_category) %}
    {%import _self as checklist %}
    {{ checklist.addCategoryButton(root_category) }}
{% endmacro %}

{% macro addCategoryButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Lisää kategoria
        </button>
        <div class="dropdown-menu">
            <form method="post" action="categories">
                <div class="form-group">
                  <label>Nimi</label>
                  <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Lisää</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro addTime_And_PlaceButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Lisää aika ja paikka
        </button>
        <div class="dropdown-menu">
            <form method="post" action="times_and_places">
                <div class="form-group">
                  <label>Viikonpäivä</label>
                  <input type="text" name="dow" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Päivämäärä</label>
                  <input type="date" name="tp_date" class="form-control">
                </div>

                <div class="form-group">
                  <label>Alkuaika</label>
                  <input type="time" name="start_time" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Loppuaika</label>
                  <input type="time" name="end_time" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Sijainti</label>
                  <input type="text" name="location" class="form-control">
                </div>
                
                
                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Lisää</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro deleteTime_And_PlaceButton(time_and_place) %}
    <div class="btn-group">
        <form method="post" action="times_and_places/delete" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa ajan ja paikan?" style="display: inline-block">
            <input type="hidden" name="id" value="{{ time_and_place.id }}" class="form-control">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
  </div>
{% endmacro %}

{% macro editTime_And_PlaceButton(tp) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Muokkaa aikaa ja paikkaa
        </button>
        <div class="dropdown-menu">
            <form method="post" action="times_and_places/update">
                <div class="form-group">
                  <label>Viikonpäivä</label>
                  <input type="text" name="dow" value="{{ tp.dow }}" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Päivämäärä</label>
                  <input type="date" name="tp_date" value="{{ tp.tp_date }}" class="form-control">
                </div>

                <div class="form-group">
                  <label>Alkuaika</label>
                  <input type="time" name="start_time" value="{{ tp.start_time }}" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Loppuaika</label>
                  <input type="time" name="end_time" value="{{ tp.end_time }}" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Sijainti</label>
                  <input type="text" name="location" value="{{ tp.location }}" class="form-control">
                </div>
                
                
                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>
                
                <div class="form-group">
                    <input type="hidden" name="id" value="{{ tp.id }}" class="form-control">
                </div>
                
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Muokkaa</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro editCategoryButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Muokkaa
        </button>
        <div class="dropdown-menu">
            <form method="post" action="categories/update">
                <div class="form-group">
                  <label>Nimi</label>
                  <input type="text" name="name" value="{{ category.name }}" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="id" value="{{ category.id }}" class="form-control">
                </div>
                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.supercategory }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Muokkaa</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro deleteCategoryButton(category) %}
    <div class="btn-group">
        <form method="post" action="categories/delete" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kategorian?" style="display: inline-block">
            <input type="hidden" name="id" value="{{ category.id }}" class="form-control">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
  </div>
{% endmacro %}

{% macro addNoteButton(category) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Lisää merkintä
        </button>
        <div class="dropdown-menu">
            <form method="post" action="notes">
                <div class="form-group">
                  <label>Merkintä</label>
                  <input type="text" name="note" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ category.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Lisää</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}

{% macro deleteNoteButton(note) %}
    <div class="btn-group">
        <form method="post" action="notes/delete" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa merkinnän?" style="display: inline-block">
            <input type="hidden" name="id" value="{{ note.id }}" class="form-control">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
  </div>
{% endmacro %}

{% macro editNoteButton(note) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Muokkaa
        </button>
        <div class="dropdown-menu">
            <form method="post" action="notes/update">
                <div class="form-group">
                  <label>Note</label>
                  <input type="text" name="note" value="{{ note.note }}" class="form-control">
                </div>

                <div class="form-group">
                  <input type="hidden" name="supercategory" value="{{ note.supercategory }}" class="form-control">
                </div>
                
                <div class="form-group">
                  <input type="hidden" name="id" value="{{ note.id }}" class="form-control">
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Muokkaa</button>
                </div>
          </form>
        </div>
  </div>
{% endmacro %}