{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän Ville-Matti muistilista</h1>



<ul>
    <li><strong>Juuri</strong><a href="#" class="btn btn-default">Lisää kategoria</a><a href="#" class="btn btn-default">Lisää aika/paikka</a><a href="#" class="btn btn-default">Lisää merkintä</a><a href="#" class="btn btn-danger">Poista</a></li>
    <li>
        <ul>
            <li><strong>Tietokanta harjoitustyö</strong><a href="#" class="btn btn-default">Lisää kategoria</a><a href="#" class="btn btn-default">Lisää aika/paikka</a><a href="#" class="btn btn-default">Lisää merkintä</a><a href="#" class="btn btn-danger">Poista</a></li>
            <li>
                <ul>
                    <li><strong>Aloitusluento</strong><a href="#" class="btn btn-default">Lisää kategoria</a><a href="#" class="btn btn-default">Lisää aika/paikka</a><a href="#" class="btn btn-default">Lisää merkintä</a><a href="#" class="btn btn-danger">Poista</a></li>
                    <li>
                        <ul>
                            <li>ti 06.09 16-18 Exactum C222  <a href="#" class="btn btn-danger">Poista</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><strong>Deadline</strong><a href="#" class="btn btn-default">Lisää kategoria</a><a href="#" class="btn btn-default">Lisää aika/paikka</a><a href="#" class="btn btn-default">Lisää merkintä</a><a href="#" class="btn btn-danger">Poista</a></li>
                    <li>
                        <ul>
                            <li>ma 23.59 Labtool  <a href="#" class="btn btn-danger">Poista</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
            
    </li>
</ul>

{% endblock %}